.box {
    width: 100px;
    height: 100px;
    background: #ff1c68;
    transform-origin: 50% 50%;
  }

 .col-lg {
  display: flex !important;
  justify-content: center !important;
 }


 .handIconContainer {
   display: flex;
   justify-content: center;

 }

 .ourProcessContainer {
   text-align: center;
 }

 .ourWebsitesContainer{
   padding-top: 1px;
   margin-top: 40px;
   box-shadow: 0 -5px 20px -5px #333;
   background-color: #fb4c4c;
   border: 1px solid darkred;
 }



 .ourWebsiteTextHeaders {
   font-weight: bold;
   color: black;
   font-size: 20px;
   letter-spacing: 3px;
   text-align: center;
   /* background: white; */
   /* border: 1px solid black; */
 }

 .ourWebsiteText {
   color: black;
   letter-spacing: 1px;
   text-align: center;
   /* background: white; */
   /* border: 1px solid black; */
 }

 .handIcon {
  border-radius: 100%;
  padding: 10px;
}

.bannerContainer {
  background-color: red;
}
 .bannerTextContainer {
   color:black;
   text-align: center;
 }

 .processHeaderText {
  font-size: 30px;
  margin-top: 15px;
}

.paperContainer {
  border: 1px solid black;
  padding-top: 20px;
  padding-bottom: 10px;
}