.box {
    width: 100px;
    height: 100px;
    background: #ff1c68;
    transform-origin: 50% 50%;
  }

 .col-lg {
  display: flex !important;
  justify-content: center !important;
 }

 .handIconContainer {
   display: flex;
   justify-content: center;

 }

 .ourWebsitesContainer{
   padding-top: 1px;
   margin-top: 40px;
   box-shadow: 0 -5px 20px -5px #333;
   background-color: #ff2d2d;
   border: 1px solid darkred;
 }



 .ourWebsiteTextHeaders {
   font-weight: bold;
   color: white;
   font-size: 20px;
   letter-spacing: 1px;
   /* text-align: center; */
 }

 .ourWebsiteText {
   color: white;
   letter-spacing: 1px;
 }

 .handIcon {
  border-radius: 100%;
  padding: 10px;
}

.bannerContainer {
  background-color: red;
}
 .bannerTextContainer {
   color:black;
   text-align: center;
   /* padding: 30px; */
 }

 .processHeaderText {
  font-size: 30px;
  margin-top: 15px;
}

 /* .cardPositioning {
  display:inline-block;
  float:none;
  text-align:left;
  text-align: center; */
 /* } */