.homeHeaderText {
    font-size: 100px;
    text-align: center;
    font-weight: 400;
    letter-spacing: 1.5px;
}

.homeHeaderContainer {
    margin-top: 200px;
}

.homeHeaderDescContainerText {
    text-align: center;
    font-size: 30px;
    letter-spacing: 1px;
}

.homeHeaderDescContainerText--secondary {
    font-size: 25px;
}

.headerHR {
    width: 40%;
    background: red;
}

.buttonContainer {
    display: flex;
    justify-content: center;
}